<p-panel header="Non common pipes" class="p-1">
    <p>Included pipes in Angular common module.</p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Hola <span style="color: rgb(199, 25, 184)">{{ name }} </span> ,
                es un placer
                <span style="color: rgb(199, 25, 184)">
                    {{ gender | i18nSelect : invitationMap }}
                </span>
                a nuestro evento
            </p>

            <p-button (onClick)="changeClient()"> Change Person </p-button>
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Messages: {{ commentCount }}</p>
            <p>
                {{ commentCount | i18nPlural : commentMapping }}
            </p>

            <p-button (onClick)="addComment()"> Add message </p-button>
            <span class="mr-2"></span>
            <!-- Espacio horizontal -->
            <p-button (onClick)="removeComment()"> Remove message </p-button>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true"> </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="JSON Pipe" [toggleable]="true"> </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Key Value Pipe" [toggleable]="true"> </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true"> </p-fieldset>
    </div>
</div>
d
