<h1 class="mt-3">Nested selectors</h1>
<hr />

<form [formGroup]="form">
    <!-- region -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continent</label>
            <select class="form-control" formControlName="region">
                <option value="">select a continent</option>
                <option [value]="region" *ngFor="let region of regions">
                    {{ region }}
                </option>
            </select>
        </div>
    </div>

    <!-- country -->

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continent</label>
            <select class="form-control" formControlName="region">
                <option value="">select a country</option>
                <!-- <option [value]="country" *ngFor="let country of countries">
                    {{ country }}
                </option> -->
            </select>
        </div>
    </div>
</form>

<h3>Form object</h3>
<code>
    {{ form.value | json }}
</code>

<p>is form valid: {{ form.valid }}</p>
