<h1 class="mt-3">Reactive selectors</h1>
<hr />

<form [formGroup]="form">
    <!-- region -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continent</label>
            <select class="form-control" formControlName="region">
                <option value="">select a continent</option>
                <option [value]="region" *ngFor="let region of regions">
                    {{ region }}
                </option>
            </select>
        </div>
    </div>

    <!-- country -->

    <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
        <div class="col">
            <label class="form-label">Country</label>
            <select class="form-control" formControlName="country">
                <option value="">select a country</option>
                <option
                    [value]="country.cca3"
                    *ngFor="let country of countriesByRegion"
                >
                    {{ country.name }}
                </option>
            </select>
        </div>
    </div>

    <!-- borders -->

    <div class="row mb-3" *ngIf="bordersByCountry.length > 0">
        <div class="col">
            <label class="form-label">Borders</label>
            <select class="form-control" formControlName="border">
                <option value="">select a country's border</option>
                <option
                    [value]="border.cca3"
                    *ngFor="let border of bordersByCountry"
                >
                    {{ border.name }}
                </option>
            </select>
        </div>
    </div>
</form>
<br />
<hr />

<h3>Reactive form object in JSON</h3>
<code>
    {{ form.value | json }}
</code>
<br />
