<p-panel header="Basics pipes" class="p-1">
    <p>custom pipes made by: {{ name | toggleCase : isUpperCase }}</p>
</p-panel>

<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button
            label="ToggleCase"
            icon="pi pi-search"
            class="mr-2"
            (click)="toggleCase()"
        >
        </p-button>
    </div>
    <div class="p-toolbar-group-end">
        <p-button
            label="By Name"
            icon="pi pi-align-center"
            styleClass="p-button-success mr-2"
            (click)="changeOrderBy('name')"
        ></p-button>

        <p-button
            label="By fly"
            icon="pi pi-twitter"
            styleClass="p-button-help mr-2"
            (click)="changeOrderBy('canFly')"
        ></p-button>
        <p-button
            label="By color"
            icon="pi pi-palette"
            styleClass="p-button-warning mr-2"
            (click)="changeOrderBy('color')"
        ></p-button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">
        <p-panel header="Heros table">
            <p-table
                [value]="heroes | sortBy : orderBy"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Can fly</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                    <tr>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.canFly | canfly }}</td>
                        <td>{{ hero.color.toString() }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
    <!-- <div class="col mt-2">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.Code }}</td>
                    <td>{{ product.Name }}</td>
                    <td>{{ product.Category }}</td>
                    <td>{{ product.Quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div> -->
</div>
