<h2>por capital</h2>
<hr />

<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <shared-search-box
            placeholder="Buscar por capital"
            (onEnterPressedEvent)="searchByCapital($event)"
        ></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr />
        <!-- tabla resultados -->

        <ul>
            <li *ngFor="let country of countries">
                {{ country.capital }} -
                {{ country.population }}
            </li>
        </ul>
    </div>
</div>
