<div class="flex flex-column p-2">
    <h3>Hero searcher</h3>

    <mat-form-field>
        <mat-label>start typing a hero name</mat-label>
        <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="searchInput"
            (input)="searchHero()"
            [matAutocomplete]="autoCompleteControl"
        />
        <mat-autocomplete
            autoActiveFirstOption
            #autoCompleteControl="matAutocomplete"
            (optionSelected)="onSelectedChange($event)"
        >
            <mat-option *ngFor="let hero of heros" [value]="hero">
                {{ hero.superhero }}
            </mat-option>

            <mat-option
                value=""
                *ngIf="heros.length === 0 && searchText.trim().length > 0"
            >
                No results found for your search criteria:
                {{ searchInput.value }}</mat-option
            >
        </mat-autocomplete>
    </mat-form-field>

    {{ selectedHero | json }}
</div>
