<h2>Paises</h2>

<hr />

<ul class="list-group">
    <li
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="list-group-item"
    >
        Home
    </li>
    <li routerLink="about" routerLinkActive="active" class="list-group-item">
        About
    </li>

    <li routerLink="contact" routerLinkActive="active" class="list-group-item">
        Contact
    </li>
</ul>

<!-- <ul class="list-group">
    <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item d-flex justify-content-between align-items-center"
    >
        Home
        <span class="badge bg-secondary badge-pill">pill1</span>
    </li>
    <li
        routerLink="about"
        routerLinkActive="active"
        class="list-group-item d-flex justify-content-between align-items-center"
    >
        About
        <span class="badge bg-secondary badge-pill">pill2</span>
    </li>
</ul> -->
