<p-panel header="Basics pipes" class="p-1">
    <p>Included pipes in Angular common module.</p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-4">
        <p-card header="uppercase">
            {{ nameLower | uppercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="lowercase">
            {{ nameLower | lowercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="titlecase">
            {{ nameLower | titlecase }}
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="date pipe expression">
            <ol>
                <li>currentDate</li>
                <li>currentDate | date</li>
                <li>currentDate | date : 'short'</li>
                <li>currentDate | date : 'long'</li>
                <li>currentDate | date : 'MMMM'</li>
                <li>currentDate | date : 'MMMM dd, yyyy'</li>
                <li>currentDate | date : 'MMMM dd, yyyy'</li>
            </ol>
            <hr />
            <ol>
                <li>currentDate | date : 'long': 'America/Mexico_City'</li>
                <li>currentDate | date : 'long': 'America/New_York'</li>
                <li>currentDate | date : 'long': 'Europe/London'</li>
                <li>currentDate | date : 'long': '': 'es-MX'</li>
                <li>currentDate | date : 'long': '': 'fr-CA'</li>
                <li>currentDate | date : 'long': '': 'fr-CA'</li>
                <li>currentDate | date : 'long': '': 'en-US'</li>
            </ol>
        </p-card>
    </div>
    <div class="col-12 md:col-6">
        <p-card header="date pipe result">
            <ol>
                <li>{{ currentDate }}</li>
                <li>{{ currentDate | date }}</li>
                <li>{{ currentDate | date : 'short' }}</li>
                <li>{{ currentDate | date : 'long' }}</li>
                <li>{{ currentDate | date : 'MMMM' }}</li>
                <li>{{ currentDate | date : 'MMMM dd, yyyy' }}</li>
                <li>{{ currentDate | date : 'MMMM dd, yyyy' }}</li>
            </ol>
            <hr />
            <ol>
                <li>
                    {{ currentDate | date : 'long' : 'GMT-6' }}
                </li>
                <li>
                    {{ currentDate | date : 'long' : 'GMT-5' }}
                </li>
                <li>
                    {{ currentDate | date : 'long' : 'GMT+0' }}
                </li>
                <li>
                    {{ currentDate | date : 'long' : '' : 'es-MX' }}
                </li>
                <li>
                    {{ currentDate | date : 'long' : '' : 'fr-CA' }}
                </li>
                <li>
                    {{ currentDate | date : 'long' : '' : 'de-CH' }}
                </li>
                <li>
                    {{ currentDate | date : 'long' : '' : 'en-US' }}
                </li>
            </ol>
        </p-card>
    </div>
</div>
