<p-panel header="Basics pipes" class="p-1">
    <p>Included pipes in Angular common module.</p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-4">
        <p-card header="uppercase">
            {{ nameLower | uppercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="lowercase">
            {{ nameLower | lowercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="titlecase">
            {{ nameLower | titlecase }}
        </p-card>
    </div>
</div>
