<h1>{{ name }}</h1>

<dl>
    <td>Name:</td>
    <dd>{{ name }}</dd>

    <td>Age:</td>
    <dd>{{ age }}</dd>

    <td>Method:</td>
    <dd>{{ getHeroDescription() }}</dd>

    <td>Captital:</td>
    <dd>{{ capitalizedName }}</dd>
</dl>

<button
    *ngIf="name !== 'juan'"
    class="btn btn-primary mx-2"
    (click)="onChangeHero('juan')"
>
    Cambiar nombre
</button>

<button *ngIf="age !== 28" class="btn btn-primary" (click)="onChangeAge(28)">
    Cambiar edad
</button>

<button (click)="onResetForm()" class="btn btn-primary mx-2">Reset</button>
